<h2 class="page-header">Buscar autores</h2>
<form action="/authors" method="GET">
    <div>
        <label for="name">Nome</label>
        <input type="text" name="name" value="<%=busca.name%>">
    </div>
    <button type="submit">Buscar</button>
</form>
<br>
<div>
    <% authors.forEach(author => {%>
        <div><%=author.name%></div>
        <div class="btn-row">
            <a class="btn btn-primary" href="/authors/<%= author.id %>">Ver</a>
            <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Editar</a>
            <%- include ('../partials/deleteForm.ejs', {url: `/authors/${author.id}`}) %>
        </div>
    <% }) %>
</div>
