<h2 class="page-header">Buscar autores</h2>
<form action="/authors" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="name">Nome</label>
            <input type="text" name="name" value="<%=busca.name%>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </div>

</form>
<br>

<% authors.forEach(author => {%>
    <div class="author-row">
        <div class="author-name"><%=author.name%></div>
        <div class="btn-row">
            <a class="btn btn-primary" href="/authors/<%= author.id %>">Ver</a>
            <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Editar</a>
            <%- include ('../partials/deleteForm.ejs', {url: `/authors/${author.id}`}) %>
        </div>
    </div>
    
<% }) %>

